.home {
    grid-template-columns: 4.32fr 7.68fr;
    align-items: center;
    padding: 40px;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: hidden;
}

.home_img {
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
    z-index: 1;
    opacity: 0;
    animation: slideProfileImg 0.7s ease forwards;
    animation-delay: 0.1s;
}

.home_data {
    max-width: 600px;
    margin-inline: auto;
    padding-top: 20px;
}

.home_title {
    position: relative;
    font-size: var(--h1-font-size);
    line-height: 1.24;
    padding-left: 70px;
    animation: slideTitleDown 0.7s ease forwards;
    animation-delay: 0.1s;
}

.home_title span {
    color: var(--first-color);
}

.home_title::before{
    content: '';
    position: absolute;
    left: 0;
    top: 22%;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--first-color);
}

.home_description {
    line-height: 2.125;
    margin-block: 16px 32px;
    animation: slideDescriptionLeft 0.7s ease backwards;
    animation-delay: 0.1s;
}

.color_block {
    position: fixed;
    height: 200%;
    width: 100%;
    background-color: var(--first-color);
    top: -50%;
    left: -83%;
    transform: rotate(-15deg);
}

.home_btn {
    animation: slideButtonRight 0.7s ease forwards;
    animation-delay: 0.1s;
}

.button_icon {
    animation: rotateIcon 0.6s ease forwards;
    animation-delay: 0.3s;
}

@keyframes slideProfileImg {
    0% {
        transform: translateY(-100px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes slideTitleDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideButtonRight {
    0% {
        transform: translateX(-100px);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideDescriptionLeft {
    0% {
        transform: translateX(100px);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}